# Archivos y carpetas generados por Android Studio
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild

# Build dentro de la app
app/build/

# Carpeta de proyecto antigua (no subir)
Pta/
